.navigation{
    display:flex;
    justify-content: space-between;
    position: relative;
    background-color: var(--nav);
    padding:0.5rem;
}
.back{
    position: absolute;
    top:3.8rem;
    left:0;
    background-color: var(--nav);
    padding:0.5rem;
    border-bottom-right-radius: 0.2rem;

}
.navigation *{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
}
.navButtons{
    display:flex;
    justify-content: space-between;
    /* margin-right:0; */
    align-items: center;
    width:20vw;
    min-width:200px;
}
.logout{
    margin-left:auto;
}
.titleContainer{
    /* margin:auto; */
}
.navTitle{
    color:white;
    font-size: 2rem;
    font-weight:400;
}