.navigation{
    display:flex;
    justify-content: space-between;
    background-color: var(--nav);
    padding:0.5rem;
}

.navigation *{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
}
.navButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:350px;

}
.toggle{
    margin-left:auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:290px;

}
.home{
    display:none;
}
.navLink{
    cursor: pointer;
}
.menu{
    display:none;
    width:1.6rem;
}
.allJobLink{
    /* margin-left:auto;
    margin-right:2.378rem; */
}
.navTitle{
    color:white;
    font-size: 2rem;
    font-weight:400;
}
.hide{
    display:none;
}
@media screen and (max-width:500px) {
    .navContainer{
        height:3.7rem;
    }
    .expanded{
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
    }
    .menu,.home{
    display:block;   
    }
    /* .home{
        width:100%;
    } */
    .toggle{
        display:flex;
        width:100%;
        justify-content: end;
        margin:0.54rem 0;
        position:relative;
    }
    .collapse{
        display:none;
    }
    .expand .menu{
        margin-right:0.5rem;
    }
    .expand{
        position:absolute;
        top:0.5rem;
        right:0rem;
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        width:100px;
        background-color: var(--nav);
        border-bottom-left-radius:0.3rem;
    }
    .expand .navLink{
        margin: 0.7rem 0;
        padding:0.5rem;
    }
    .navButtons{
        width:90px;
    }
    .navLink{
        width:100%;
    }
}