:root{
  --main:#f0efef;
  --highlight:#d9e7e9;
  --shadow:#c9c9c9;
  --button:#f56f76;
  --btnHover:#d84d56;
  --altButton:#7b839c;
  --altHover:#626c8b;
  --nav:#2F5061;
  --border:#4297A0;
  --applied:rgb(240, 240, 162);
  --appliedHvr:rgb(248, 248, 80);
  --offer:rgb(146, 209, 146);
  --offerHvr:rgb(128, 223, 128);
  --rejected:rgb(167, 114, 114);
  --rejectedHvr:rgb(185, 67, 67);
  --warning:rgb(99, 16, 16);
  --warningHvr:rgb(151, 25, 25);
  --fade:all 0.2s ease-in-out;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
  text-decoration: none;
}

html{
  background-color: var(--main);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}