:root{
  --main:#f0efef;
  --shadow:#c9c9c9;
  --button:#f56f76;
  --altButton:#979cad;
  --nav:#2F5061;
  --border:#4297A0;
  --applied:rgb(250, 250, 185);
  --offer:rgb(113, 179, 113);
  --rejected:rgb(196, 98, 98);
  --warning:rgb(99, 16, 16);
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
  text-decoration: none;
}

html{
  background-color: var(--main);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}