.companyLogo{
    width:500px;
    max-width:80vw;
}
.companyContainer{
    padding:2rem;
    border-bottom: 1px solid var(--button);
}
.companyJobContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.companyCard{
    margin:2rem;
    padding:2rem;
    width:500px;
    border-radius: 0.2rem;
    box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
}
.companyBtnContainer{
    display:flex;
    justify-content: space-between;
}
.companyBtnContainer button{
    padding:0.5rem;
    color:white;
    background-color: var(--button);
}
.addJobContainer{
    margin:1rem;
}
.addJobBtn{
    background-color: var(--button);
    color:white;
    padding:0.5rem;
}
.jobTitle{
    margin-bottom:3rem;
}
.applied{
    background-color: var(--applied);
}
.offer{
    background-color: var(--offer);
}
.rejected{
    background-color: var(--rejected);
}