.companyLogo{
    max-height:300px;
    max-width:80vw;
}
.companyContainer{
    padding:2rem;
    border-bottom: 1px solid var(--border);
}
.companyJobContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
.companyCard{
    margin:0.2rem;
    padding:2rem;
    width:300px;
    border-radius: 0.2rem;
    border:1px solid var(--border);
    box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
    transition: var(--fade);
}
.companyBtnContainer{
    display:flex;
    justify-content: center;
}
.companyEdit{
    padding:0.5rem;
    color:white;
    background-color: var(--button);
    cursor: pointer;
    margin:1rem 1rem 0;
    transition: var(--fade);
}
.delete{
    padding:0.5rem;
    color:white;
    cursor: pointer;
    background-color: var(--warning);
    margin:1rem 1rem 0;
    transition: var(--fade);
}
.companyEdit:hover{
    background-color: var(--btnHover);
}
.delete{
    background-color: var(--warningHvr);
}
.addJobContainer{
    margin:1rem;
}
.addJobBtn{
    background-color: var(--button);
    color:white;
    padding:0.5rem;
    border:1px solid var(--border);
    transition: var(--fade);
    
}
.addJobBtn:hover{
    background-color: var(--btnHover);
}
.jobSearch{
    margin-top: 0.5rem;;
    padding:0.3rem;
}
.clearJobSearch,.archiveButton{
    cursor: pointer;
    padding:0.3rem;
    color:white;
    border:2px solid rgb(95, 95, 95);
    background-color: var(--altButton);
    transition: var(--fade);
}
.clearJobSearch{
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}
.archiveButton{
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}
.clearJobSearch:hover,.archiveButton:hover{
    background-color: var(--altHover);
}
.noJobs{
    margin-top:5rem;
    padding:1rem;
    font-size: 1.5rem;
}
.jobTitle{
    margin-bottom:3rem;
}
.created:hover{
    background-color: var(--highlight);
}
.applied{
    background-color: var(--applied);
}
.offer{
    background-color: var(--offer);
}
.rejected{
    background-color: var(--rejected);
}
.applied:hover{
    background-color: var(--appliedHvr);
}
.offer:hover{
    background-color: var(--offerHvr);
}
.rejected:hover{
    background-color: var(--rejectedHvr);
}