.companyLogo{
    height:300px;
    max-width:80vw;
}
.companyContainer{
    padding:2rem;
    border-bottom: 1px solid var(--border);
}
.companyJobContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.companyCard{
    margin:2rem;
    padding:2rem;
    width:500px;
    border-radius: 0.2rem;
    border:1px solid var(--border);
    box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
}
.companyBtnContainer{
    display:flex;
    justify-content: center;
}
.companyEdit{
    padding:0.5rem;
    color:white;
    background-color: var(--button);
    cursor: pointer;
    margin:1rem 1rem 0;

}
.delete{
    padding:0.5rem;
    color:white;
    cursor: pointer;
    background-color: var(--warning);
    margin:1rem 1rem 0;

}
.addJobContainer{
    margin:1rem;
}
.addJobBtn{
    background-color: var(--button);
    color:white;
    padding:0.5rem;
    border:1px solid var(--border)
}
.jobSearch{
    margin-top: 0.5rem;;
    padding:0.3rem;
}
.clearJobSearch{
    padding:0.3rem;
    color:white;
    border:2px solid rgb(95, 95, 95);
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background-color: var(--altButton);
}
.archiveButton{
    padding:0.3rem;
    color:white;
    border:2px solid rgb(95, 95, 95);
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    background-color: var(--altButton);
}
.jobTitle{
    margin-bottom:3rem;
}
.applied{
    background-color: var(--applied);
}
.offer{
    background-color: var(--offer);
}
.rejected{
    background-color: var(--rejected);
}