.jobScraper{
    margin:0.5rem auto;
    padding:2rem 1rem;
    box-shadow: 0.5rem 0.5rem 1rem var(--shadow) inset;
    border:1px solid var(--border);
}
.jobScrapeWarning{
    color:red;
}
.jobScraper input{
    padding:0.2rem;
    margin:0.3rem 0;
}
.jobScraper button{
    padding:0.2rem;
    color:white;
    cursor: pointer;
}
.clearBtn{
    background-color: var(--altButton);
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;

}
.scrapeBtn{
    background-color: var(--button);
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

}