.allJobContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
.allJobCard{
    margin:0.2rem;
    padding:2rem;
    width:300px;
    border-radius: 0.2rem;
    border:1px solid var(--border);
    box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
    transition: var(--fade);

}
.archiveBtn,.clearJobSearch{
    cursor: pointer;
    padding:0.3rem;
    color:white;
    border:2px solid var(--border);
    background-color: var(--altButton);
    transition: var(--fade);

}
.jobSearch{
    margin-top: 0.5rem;;
    padding:0.3rem;
}
.archiveBtn{
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}
.clearJobSearch{
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}
.clearJobSearch:hover,.archiveBtn:hover{
    background-color: var(--altHover);
}
.jobTitle{
    margin-bottom:3rem;
}
.created:hover{
    background-color: var(--highlight);
}
.applied{
    background-color: var(--applied);
}
.offer{
    background-color: var(--offer);
}
.rejected{
    background-color: var(--rejected);
}
.applied:hover{
    background-color: var(--appliedHvr);
}
.offer:hover{
    background-color: var(--offerHvr);
}
.rejected:hover{
    background-color: var(--rejectedHvr);
}