.loginHeader{
    margin:2rem auto;
    width:43rem;
    padding:1rem;
}
.loginImg{
    width:10rem;
}
.welcome{
    font-size: 4rem;
}
.welcomeText{
    font-size:  1.2rem;
    width:38rem;
    margin:auto;
}
.title{
    font-size: 1.8rem;
}
.loginBtn{
    margin:2rem;
    padding:0.7rem 1rem;
    font-size: 2rem;
    background-color: var(--button);
    color:var(--main);
    border-radius: 0.3rem;
    cursor: pointer;
}
.loginBtn:hover{
    color:white;
    background-color: var(--rejected);
    /* box-shadow: 0 0 1rem var(--button); */
}
.loginContainer{
    width:30rem;
    margin:2rem auto;
}

.loginButton{
    padding:0.5rem;
    background-color: var(--button);
    color:white;
    margin:0.3rem;
    border-radius:0.3rem;
    cursor: pointer;
}
.loginNavigation{
    color:var(--button);
    text-decoration: underline;
    cursor: pointer;
    width:fit-content;
    margin:auto;
}
@media screen and (max-width:670px) {
    .loginHeader,.welcomeText{
        width:95vw;
    }
    .welcomeText{
        width: 80vw;
    }
    .loginHeader{
        padding:0;
    }
    .welcome{
        font-size: 3rem;
    }
}
@media screen and (max-width:500px) {
    .loginContainer,.loginContainer input{
        width:95vw;
    }
}
@media screen and (max-height:700px) {
    .welcome{
        font-size: 3rem;
    }
    .welcomeText{
        font-size: 1.1rem;
    }
}