.loginContainer{
    width:30rem;
    margin:2rem auto;
}
.loginContainer input {
    width:100%;
}
.inputContainer{
    text-align: start;
}
.loginButton{
    padding:0.5rem;
    background-color: var(--button);
    color:white;
    margin:0.3rem;
    border-radius:0.3rem;
    cursor: pointer;
}