.resumeContainer{
    margin:1rem 0;

}

.resumeContainer a{
    margin:0 0.5rem;
    background-color: var(--button);
    color: white;
    padding:0.2rem 0.3rem;
    border:1px solid var(--border);
    border-radius: 0.2rem;
}
.jobButtonContainer{
    display:flex;
    justify-content: center;
}
.jobScraper{
    margin:0.5rem auto;
    padding:1rem;
    box-shadow: 0.5rem 0.5rem 1rem var(--shadow) inset;
    border:1px solid var(--border);
}
.jobScrapeWarning{
    color:red;
}
.jobButton{
    padding:0.5rem;
    color:white;
    background-color: var(--button);
    margin:1rem;
    cursor: pointer;
    border-radius: 0.2rem;

}
.deleteJob{
    background-color: var(--warning);
}
.jobContainer{
    padding:3rem;
    max-width: 800px;
    min-height:calc(100vh - 4.5rem);
    margin:auto;
    
}
.jobContainer h3{
    text-align: start;
}
.description,.notes{
    white-space: pre-wrap;
    text-align: start;
    word-break: break-word;
    margin-bottom:3rem;
    padding:1rem;
    border:1px solid var(--border);
    box-shadow:0.3rem 0.3rem 1rem var(--shadow) inset;
}
.jobPage{
    min-height:calc(100vh - 3.7rem);

}
.appliedjob{
    border:10px solid var(--applied);
    
}
.offerjob{
    border:10px solid var(--offer);

}
.rejectedjob{
    border:10px solid var(--rejected);
    

}
@media screen and (max-width:500px) {
    .jobContainer{
        padding:1rem;
    }
}