.jobButtonContainer{
    display:flex;
    justify-content: center;
    /* margin-top:3rem; */
}
.jobButton{
    padding:0.5rem;
    color:white;
    background-color: var(--button);
    margin:1rem;
    cursor: pointer;

}
.deleteJob{
    background-color: var(--warning);
}
.jobContainer{
    padding:3rem;
    max-width: 800px;
    height:calc(100vh - 3.7rem);
    margin:auto;
    
}
.jobContainer *{
    /* margin:auto; */
}
.jobContainer h3{
    text-align: start;
}
.description,.notes{
    white-space: pre-wrap;
    text-align: start;
    /* width:90vw; */

    margin-bottom:3rem;
    padding:1rem;
    border:1px solid var(--border);
    box-shadow:0.3rem 0.3rem 1rem var(--shadow) inset;
}
.appliedjob{
    border:10px solid var(--applied);
    height:100%;
    min-height: calc(100vh - 3.7rem);
}
.offerjob{
    border:10px solid var(--offer);
    height:calc(100vh - 3.7rem);

}
.rejectedjob{
    border:10px solid var(--rejected);
    height:calc(100vh - 3.7rem);

}
@media screen and (max-width:500px) {
    .jobContainer{
        padding:1rem;
    }
}