.addCompany{
    margin:1rem;
    padding:1rem;
    background-color: var(--button);
    border-radius:0.5rem;
    color:white;
    font-size: 1.2rem;
}
.homeContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.homeCard{
    margin:2rem;
    padding:1rem;
    width:500px;
    box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
}
.homeCard img {
    margin:1rem;
    width:26rem;
}