.welcomeMessage{
    margin:2rem auto;
    padding:1rem;
    max-width:700px;
}
.welcome{
    font-size: 1.8rem;;
}
.search{
    margin-top: 0.5rem;;
    padding:0.3rem;
}
.clearSearch{
    cursor: pointer;
    padding:0.3rem;
    color:white;
    border:2px solid rgb(95, 95, 95);
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background-color: var(--altButton);
    transition: all 0.2s ease-in-out;
}
.clearSearch:hover{
    background-color: var(--altHover);
}
.addContainer{
    margin:2rem;
}
.addCompany{
    padding:1rem;
    background-color: var(--button);
    border:1px solid var(--border);
    cursor: pointer;
    border-radius:0.3rem;
    color:white;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}
.addCompany:hover{
    background-color: var(--btnHover);
}
.homeContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.homeCard{
    margin:0.2rem;
    max-width: 98vw;
    width:500px;
    border-radius: 0.2rem;
    border:1px solid var(--border);
    box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
    transition: all 0.2s ease-in-out;
}
.homeCard:hover{
    background-color: var(--highlight);
}

.homeLink{
    width:100%;
    height:100%;
}
.cardContent{
    display:flex;
    align-items: center;
    padding:1rem;
    width:100%;
    height:100%;
}
.imageContainer{
    width:50%;
}
.homeCard img {
    margin:1rem;
    max-height:300px;
    max-width: 80%;
}
@media screen and (max-width:500px) {
    .welcome{
        font-size: 1.4rem;
    }
    .cardContent{
        display: block;
    }
    .imageContainer{
        width:100%;
    }
}