.addCompanyContainer{
    margin:2rem;
    padding:2rem;
}
.addCompanyContainer form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.addCompanyContainer input{
    margin:0.5rem;
    border-radius: 0.2rem;
    padding:0.2rem;
    width:300px;
}
.homeButtonContainer{
    margin:1rem;
}
.addButton,.homeButton{
    padding:0.5rem;
    background-color: var(--button);
    border-radius:0.5rem;
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
    min-width:100px;
}