.companyFormBtn{
    display:flex;
}
.addButton,.cancelButton{
    margin:0.2rem;
    cursor: pointer;
    padding:0.5rem;
    border-radius:0.5rem;
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
    min-width:100px;
}
.addButton{
    background-color: var(--button);

}
.addButton:hover{
    background-color: var(--btnHover);
}
.cancelButton{
    background-color: var(--altButton);

}
.cancelButton:hover{
    background-color: var(--altHover);

}